// Grid.less - the Grid system for NUTS Starter

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

.column, [class*="column-"] {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.generate-columns( @n, @i: 1 ) when ( @i =< @n ) {
    .column-@{i} {
        width: ( @i * 100% / @n );
    }
    .generate-columns( @n, ( @i + 1 ) );
}

.generate-columns( 12 );
