// Image uploader
.uploader {

	.image-container {

		height: 150px;
		width: 150px;
		position: relative;
		float: left;
		margin-right: 16px;

		.closer {

			width: 32px;
			height: 32px;
			background-image: url("../../../img/admin-icons.png"); 
			position: absolute;
			top: -5px;
			right: -5px;
			opacity: 0.75;
			cursor:pointer;

			.hovermsg {

				display: none;
				width: 100px;
				background-color: rgba(255,255,255,0.9);
				border: #222 1px solid;
				padding: 2px;
				font-size: 12px;
				color: #000;
				border-radius: 2px;
				position: absolute;
				top: 20px;
				left: 20px;

			}

		}

	}

}
