/* Reset the most basic selectors for the same look in all browsers + add some basic styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}
select {
  border-radius: 0;
}
textarea {
  overflow: auto;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
abbr {
  cursor: help;
  border-bottom: 1px dotted;
  text-decoration: none;
}
kbd,
samp {
  font-family: monospace;
}
sup {
  font-size: 0.7em;
  vertical-align: top;
  position: relative;
  top: -0.3em;
}
sub {
  font-size: 0.7em;
  vertical-align: bottom;
  position: relative;
  bottom: -0.3em;
}
small {
  font-size: 60%;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
/* Firefox 19+ */
:focus:-moz-placeholder {
  color: transparent;
}
/* Firefox 18 */
:focus:-ms-input-placeholder {
  color: transparent;
}
::-webkit-input-placeholder {
  color: #666666;
}
::-moz-placeholder {
  color: #666666;
  opacity: 1;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #666666;
  opacity: 1;
}
/* Firefox 18 */
:-ms-input-placeholder {
  color: #666666 !important;
}
::placeholder {
  color: #666666;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clearfix,
.clear {
  clear: both;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.column,
[class*="column-"] {
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.column-1 {
  width: 8.33333333%;
}
.column-2 {
  width: 16.66666667%;
}
.column-3 {
  width: 25%;
}
.column-4 {
  width: 33.33333333%;
}
.column-5 {
  width: 41.66666667%;
}
.column-6 {
  width: 50%;
}
.column-7 {
  width: 58.33333333%;
}
.column-8 {
  width: 66.66666667%;
}
.column-9 {
  width: 75%;
}
.column-10 {
  width: 83.33333333%;
}
.column-11 {
  width: 91.66666667%;
}
.column-12 {
  width: 100%;
}
/*
TABLE OF CONTENTS
-----------------
1. Page Layout
2. Common Elements
3. Forms
4. Header
5. Content Area
6. Sidebar
7. Footer
*/
/*
-----------------
1. Page Layout
-----------------
*/
* {
  font-family: arial;
}
body {
  background: #fff;
  font-size: 14px;
  color: #666666;
}
#wrapper {
  padding-bottom: 125px;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#right-sidebar {
  float: right;
}
.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}
/*
-----------------
2. Common Elements
-----------------
*/
a {
  color: #97a141;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #97a141;
  font-weight: bold;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #97a141;
  text-decoration: none;
}
h1 {
  font-size: 32px;
  margin: 32px 0 28px;
}
h2 {
  font-size: 24px;
  margin: 32px 0 28px;
}
h3 {
  font-size: 20px;
  margin: 32px 0 28px;
}
h4 {
  font-size: 18px;
  margin: 32px 0 28px;
}
h5 {
  font-size: 16px;
  margin: 32px 0 28px;
}
h6 {
  font-size: 16px;
  color: #666666;
  margin: 32px 0 28px;
}
hr {
  border-top: 1px solid #999999;
  margin-top: 80px;
  margin-bottom: 80px;
}
p {
  line-height: 1.8em;
  margin-bottom: 1.8em;
}
blockquote {
  font-style: italic;
  padding-left: 72px;
  padding-right: 72px;
}
kbd {
  background-color: #e8e8e8;
}
table {
  width: 100%;
  margin-bottom: 1.8em;
  border: 2px solid #e8e8e8;
}
table thead,
table tfoot {
  font-weight: bold;
  background-color: #e8e8e8;
}
table tfoot {
  font-style: italic;
}
table th,
table td {
  line-height: 2.4em;
  text-align: center;
}
table caption {
  caption-side: bottom;
  line-height: 1.8em;
  font-style: italic;
  text-align: right;
}
.sticky,
.bypostauthor,
.gallery-caption {
  /* RESERVED */
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/*
-----------------
3. Forms
-----------------
*/
form .wpcf7-list-item {
  display: block;
}
.gform_wrapper .gform_body ul {
  list-style: none;
}
.gform_wrapper .gform_body ul li {
  margin-left: 0;
  margin-bottom: 1.8em;
}
.gform_wrapper .gform_body ul.gfield_checkbox li,
.gform_wrapper .gform_body ul.gfield_radio li {
  margin-bottom: 0;
  margin-left: 0.5em;
}
.gform_wrapper .gform_description {
  margin-bottom: 1.8em;
  display: block;
  font-style: italic;
}
.gform_wrapper .gfield_description {
  font-style: italic;
}
fieldset {
  border: 2px solid #e8e8e8;
  margin-bottom: 1.8em;
  padding: 0.5em 2em;
}
fieldset legend {
  padding: 0.5em;
}
label {
  cursor: pointer;
}
input,
select,
textarea,
button {
  background-color: #cccccc;
  color: #000;
  padding: 0px 14px;
  width: 70%;
  outline: none;
}
input {
  line-height: 36px;
  height: 36px;
}
input[type=checkbox],
input[type=radio] {
  width: 16px;
  height: auto;
  opacity: 0;
  position: relative;
  z-index: 999;
  left: 0.3em;
  top: 0.1em;
  padding-left: 0;
  margin-left: 0;
}
input[type=checkbox] + .wpcf7-list-item-label,
input[type=radio] + .wpcf7-list-item-label,
input[type=checkbox] + label,
input[type=radio] + label {
  position: relative;
  margin-left: 8px;
}
input[type=checkbox] + .wpcf7-list-item-label::before,
input[type=radio] + .wpcf7-list-item-label::before,
input[type=checkbox] + label::before,
input[type=radio] + label::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid #888;
  position: absolute;
  top: 0;
  left: -24px;
  line-height: 16px;
  text-align: center;
  font-size: 24px;
}
input[type=checkbox]:checked + .wpcf7-list-item-label::before,
input[type=radio]:checked + .wpcf7-list-item-label::before,
input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before {
  content: '\00D7';
}
input[type=radio] + .wpcf7-list-item-label::before,
input[type=radio] + label::before {
  border-radius: 1em;
}
input[type=radio]:checked + .wpcf7-list-item-label::before,
input[type=radio]:checked + label::before {
  content: '\2022';
}
input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=file] {
  background: transparent;
  display: none;
  cursor: pointer;
}
input[type=text]::-ms-clear {
  display: none;
}
button,
input[type=submit] {
  height: 36px;
  line-height: 36px;
  width: auto;
  background-color: #888;
  font-weight: bold;
  cursor: pointer;
}
select {
  padding-right: 0;
  line-height: 36px;
  height: 36px;
}
select option {
  background-color: #cccccc;
  color: #000;
  padding: 4px 14px;
  width: 100%;
}
select[multiple] {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
select[multiple] option {
  background-color: #cccccc;
  color: #000;
  padding: 4px 0px;
}
select::-ms-expand {
  display: none;
}
.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000000;
  position: absolute;
  top: 40%;
  right: 14px;
}
.file-wrapper::before {
  content: "Upload file";
  display: inline-block;
  background-color: #cccccc;
  color: #000;
  padding: 4px 14px;
}
.file-wrapper .filetext {
  margin-left: 0.5em;
}
textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 10em;
}
/*
-----------------
4. Header
-----------------
*/
.logo-wrapper {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-wrapper a {
  text-decoration: none;
  color: #97a141;
}
nav {
  clear: both;
  background-color: #999999;
  color: #000;
  padding: 0 0;
  position: relative;
  margin-bottom: 45px;
  height: 44px;
  z-index: 9;
}
nav .menu {
  background-color: #999999;
}
nav .menu li {
  display: inline-block;
  position: relative;
  padding: 0;
}
nav .menu li.current-menu-ancestor {
  text-shadow: 0px 0px 2px #fff;
}
nav .menu li.current-menu-ancestor li:not(.current-menu-ancestor) {
  text-shadow: none;
}
nav .menu li.current-menu-ancestor li.current-menu-item {
  text-shadow: 0px 0px 2px #fff;
}
nav .menu li.current-menu-item {
  text-shadow: 0px 0px 2px #fff;
}
nav .menu li.current-menu-item li {
  text-shadow: none;
}
nav .menu li:hover {
  background: #808080;
}
nav .menu li a,
nav .menu li a:hover,
nav .menu li a:visited,
nav .menu li a:active {
  text-decoration: none;
  color: #000;
  padding: 15px 15px;
  display: block;
}
nav .menu li ul {
  display: none;
  position: absolute;
  background: #999999;
}
nav .menu li ul li a {
  padding: 15px 15px;
  display: block;
  width: 150px;
  text-decoration: none;
  position: relative;
}
nav .menu li ul li a:hover {
  background: #808080;
}
nav .menu li ul li.menu-item-has-children > a:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #000000;
  display: inline-block;
  position: absolute;
  right: 12px;
  top: 16px;
}
nav .menu li:hover ul {
  display: block;
}
nav .menu li:hover ul li {
  position: relative;
}
nav .menu li:hover ul li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0px;
}
nav .menu li:hover ul li:hover ul {
  display: block;
}
nav .menu li:hover ul li:hover ul li ul {
  display: none;
}
nav .menu li:hover ul li:hover ul li:hover ul {
  display: block;
}
.hamburger-icon {
  position: absolute;
  width: 54px;
  padding: 12px;
  top: 0px;
  left: 13px;
  cursor: pointer;
  z-index: 20;
}
.hamburger-icon .hamburger-line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  display: block;
  margin-bottom: 4px;
}
.hamburger-icon .hamburger-line:last-child {
  margin-bottom: 0px;
}
/*
-----------------
5. Content Area
-----------------
*/
.postmeta {
  background-color: #999999;
  color: #000;
  padding: 9px 14px;
  display: inline-block;
  font-size: 14px;
}
.single .postmeta {
  margin-top: 3em;
}
.tags {
  margin-top: 2em;
  font-weight: bold;
}
.tags a {
  font-weight: normal;
}
.pagination {
  margin-top: 80px;
}
.content {
  font-size: 16px;
}
.content h1 a,
.content h2 a,
.content h3 a,
.content h4 a,
.content h5 a,
.content h6 a {
  color: #97a141;
}
.content h1.nofeat,
.content h2.nofeat,
.content h3.nofeat,
.content h4.nofeat,
.content h5.nofeat,
.content h6.nofeat {
  margin-top: 0px;
}
.content img {
  max-width: 100%;
  height: auto;
}
.content ul,
.content ol {
  list-style: disc;
  overflow: hidden;
}
.content ul li,
.content ol li {
  margin-left: 36px;
  line-height: 1.8em;
}
.content ol {
  list-style: decimal;
}
.content dt,
.content dd {
  line-height: 1.8em;
}
.content dt {
  font-weight: bold;
}
.content dd {
  margin-left: 36px;
  margin-bottom: 1.8em;
}
.content article > ul,
.content article > ol {
  margin-bottom: 1.8em;
}
.content .wp-caption.aligncenter,
.content img.aligncenter {
  margin-top: 1em;
  margin-bottom: 1em;
}
.content .wp-caption.alignleft,
.content img.alignleft {
  margin-right: 1em;
  margin-bottom: 1em;
}
.content .wp-caption.alignright,
.content img.alignright {
  margin-left: 1em;
  margin-bottom: 1em;
}
.content .wp-caption.alignnone,
.content img.alignnone {
  margin-bottom: 1em;
}
.content .wp-caption.alignright,
.content .wp-caption.alignleft {
  width: auto !important;
}
.content .wp-caption p.wp-caption-text {
  margin-bottom: 0;
}
.content .featimage img {
  margin: 0;
}
.content code,
.content pre {
  font-family: monospace;
  background-color: #e8e8e8;
  display: block;
  padding: 20px;
  margin-bottom: 1.8em;
  line-height: 1.8em;
  white-space: pre-wrap;
}
/* Comments */
.comment-list {
  list-style: none;
  margin-bottom: 3em;
}
.comment-list .comment {
  margin-bottom: 2em;
}
.comment-list .comment .comment-author {
  line-height: 1.2em;
  margin-bottom: 0.6em;
}
.comment-list .comment .comment-reply-link {
  margin-bottom: 1em;
  display: inline-block;
}
.comment-list .comment .comment-inner {
  padding-bottom: 1em;
}
.comment-list .comment.odd > .comment-inner {
  background-color: #e8e8e8;
}
.comment-list .comment.even > .comment-inner {
  background-color: #f6f6f6;
}
.comment-list .comment .comment {
  margin-top: 2em;
  padding-left: 3em;
}
.comment-list .avatar {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}
.comment-list .comment-meta {
  padding-top: 0.5em;
}
.comment-list p,
.comment-list div {
  margin-bottom: 0;
}
.comment-list .comment-content {
  clear: both;
  padding-left: 2em;
  padding-right: 2em;
}
.comment-respond #cancel-comment-reply-link {
  color: #999;
}
.comment-form p {
  margin-bottom: 0.8em;
}
.comment-form p label {
  display: block;
  line-height: 1.8em;
}
.comment-form .comment-notes {
  line-height: 1.8em;
}
.comment-form .form-submit {
  margin-top: 1.8em;
}
/*
-----------------
6. Sidebar
-----------------
*/
.widget ul li {
  margin-bottom: 1.2em;
  display: block;
}
.widget ul li ul {
  margin-top: 1.2em;
}
.widget ul li ul li {
  margin-left: 1em;
  margin-top: .6em;
}
.widget .searchform {
  margin: 0 -13px;
  background-color: #cccccc;
  color: #000;
  padding: 0 0;
  height: 37px;
  position: relative;
}
.widget .searchform input[type=text] {
  border: none;
  width: 70%;
  font-family: arial;
  color: #000;
  margin-left: 14px;
  background: transparent;
  outline: none;
  height: 100%;
  line-height: 100%;
  padding: 0;
}
.widget .searchform input[type=submit] {
  font-weight: bold;
  text-transform: uppercase;
  font-family: arial;
  font-size: 12px;
  border: 0;
  float: right;
  height: 100%;
  background: #888;
  color: #000;
  padding-left: 7px;
  padding-right: 7px;
  position: absolute;
  top: 0;
  right: 0;
}
.sidebar .widget {
  padding: 0 13px 45px;
  line-height: 1.2em;
}
.sidebar .widget p {
  line-height: 1.2em;
}
.sidebar .widget .widgettitle {
  background-color: #999999;
  color: #000;
  padding: 10px 14px;
  font-weight: bold;
  margin: 0px -13px 16px;
  font-size: 14px;
}
/*
-----------------
7. Footer
-----------------
*/
footer {
  background-color: #e8e8e8;
  min-height: 20px;
  clear: both;
  padding-top: 30px;
  padding-bottom: 90px;
  line-height: 1.5em;
}
footer p {
  line-height: 1.5em;
}
footer .wrapper {
  display: table;
}
footer .column,
footer [class*="column-"] {
  border-right: 1px solid #999999;
  display: table-cell;
  padding-left: 20px;
  padding-right: 20px;
  float: none;
}
footer .column:last-child,
footer [class*="column-"]:last-child {
  border-right: none;
}
footer .widget {
  margin-bottom: 42px;
}
footer .widget:last-child {
  margin-bottom: 0;
}
footer .widget ul li {
  margin-bottom: .6em;
}
footer .widget ul li ul {
  margin-top: .6em;
}
footer .widget .searchform {
  margin: 0px;
}
footer .widgettitle {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 25px;
  margin-top: .6em;
}
footer p {
  margin-bottom: 1.5em;
}
footer .simple_tweet_widget img {
  margin-right: 14px;
}
@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  .column-1,
  .column-2 {
    width: 25%;
  }
  .column-3,
  .column-4 {
    width: 50%;
  }
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11 {
    width: 100%;
  }
  #wrapper {
    padding-bottom: 80px;
  }
  nav {
    padding-top: 44px;
  }
  nav .menu {
    max-width: 400px;
  }
  nav .menu li {
    display: block;
  }
  nav .menu li a {
    background: #999999;
  }
  nav .menu li a:hover {
    background: #808080;
  }
  nav .menu li ul,
  nav .menu li:hover ul {
    display: block;
    position: static;
  }
  nav .menu li ul li a,
  nav .menu li:hover ul li a {
    width: auto;
    padding-left: 2em;
  }
  nav .menu li ul li a::before,
  nav .menu li:hover ul li a::before {
    content: '\2192';
    display: inline-block;
    padding-right: 0.6em;
  }
  nav .menu li ul li.menu-item-has-children > a:after,
  nav .menu li:hover ul li.menu-item-has-children > a:after {
    border: none;
  }
  nav .menu li ul li ul,
  nav .menu li:hover ul li ul {
    display: block;
    position: static;
  }
  nav .menu li ul li ul li a,
  nav .menu li:hover ul li ul li a {
    padding-left: 4em;
    font-style: italic;
  }
  .sidebar {
    width: 100%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .sidebar .widget {
    display: block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  footer .wrapper {
    display: block;
  }
  footer .column,
  footer [class*="column-"] {
    display: block;
    float: left;
    padding-bottom: 10px;
  }
  footer .column:nth-child(odd),
  footer [class*="column-"]:nth-child(odd) {
    clear: both;
  }
  footer .column:nth-child(even),
  footer [class*="column-"]:nth-child(even) {
    border-right: 0;
  }
  footer .column:nth-child(n+3),
  footer [class*="column-"]:nth-child(n+3) {
    margin-top: 40px;
  }
}
@media (max-width: 600px) {
  input,
  select,
  textarea {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .column-1,
  .column-2 {
    width: 50%;
  }
  .column-3,
  .column-4 {
    width: 100%;
  }
  .sidebar {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  footer .column,
  footer [class*="column-"] {
    border-right: 0;
  }
  footer .column:nth-child(n+3),
  footer [class*="column-"]:nth-child(n+3) {
    margin-top: 0;
  }
  footer .column .widget:last-child,
  footer [class*="column-"] .widget:last-child {
    padding-bottom: 40px;
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
  }
  footer .column:last-child .widget:last-child,
  footer [class*="column-"]:last-child .widget:last-child {
    border-bottom: 0;
  }
  .comment-list .comment .comment {
    padding-left: 1em;
  }
}
@media (max-width: 360px) {
  .column-1,
  .column-2 {
    width: 100%;
  }
}
